$primary-color: #23a6f0;
$secondary-color: #23856d;
$secondary-color-2: #3c403d;
$dark-background-color: #252b42;
$light-background-color: #ffffff;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;
$hover-color: #e74040;
$disabled-element-color: #8ec2f2;
$muted-color: #bdbdbd;
$light-gray-1: #fafafa;
$light-gray-2: #ececec;
$primary-text-color: #23a6f0;
$secondary-text-color-1: #40bb15;
$secondary-text-color-2: #3c403d;
$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #ffffff;
$success-text-color: #2dc071;
$alert-text-color: #e77c40;
$danger-text-color: #e74040;
$hover-text-color: #2a7cc7;
$light-text-gray-1: #fafafa;
$light-text-gray-2: #ececec;
$faded-primary-color: #b2e3ff;
$faded-secondary-color-1: #b9eaa8;
$faded-secondary-color-2: #ffdcd1;
$light-background: #ffffff;
